// flexbox solution
.content {
  box-sizing: border-box;
  margin-top: 80px;
  margin-bottom: 95px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;

  &-box {
    width: 200px;
    min-height: 200px;
    background: #acf7ff;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    text-align: justify;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.wide {
      flex: 0 50%;
    }

  }

}

// grid solution
//.content {
//  display: grid;
//  grid-gap: 15px;
//  box-sizing: border-box;
//  margin-top: 95px;
//  padding: 0px 15px;
//  margin-bottom: 95px;
//  overflow: auto;
//  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//
//  &-box {
//    width: 100%;
//    min-height: 200px;
//    background: #acf7ff;
//    border-radius: 10px;
//
//  }
//}